<% provide(:title, "About") %>
<h1>About Grunt</h1>
<div class="row">
  <div class="col-md-8 col-md-offset-2 content-box">
    <p>
    Grunt started as a simple dummy application to gain experience using Ruby on Rails and has since evolved into my ideal form of social media: that which does not allow much commentary.<br /><br />


    <strong>Upcoming Features</strong><br />
    <s>Account Authentication/Activation</s><br />
    <s>User Profile</s><br />
    <s>Gravatar capabilities</s><br />
    <s>Microposts</s><br />
    <s>User relationships</s><br />
    <s>Layout animations</s><br />
    <s>Mobile styles</s><br />
    <s>Custom input for Grunts with limit restrictions and character counter</s><br />
    Asynchronous follow/unfollow of other users without refreshing the page<br />
    Asynchronous posting without refreshing the page<br />
    User screennames<br />
    Custom url for users based on screenname<br />
    User searching<br />
    Individual micropost pages<br />
    Photo upload and storage using AWS<br />
    Custom uploaded avatars using AWS<br />
    A like system (using ♧ instead of ♡, clubs/caveman)<br />
    A page to store liked posts ("Clubhouse")<br />
    User comments on Grunts<br />
    User tagging on Grunts<br />
    Tags for Grunts<br />
    Notification system<br />
    Encrypted direct messaging<br />
    Emoji picker for desktop<br />
    Expand 14 characters to 28 characters <br />
    Mobile app using Flutter/Dart and Rails API<br /><br />
    
    
    Stay tuned for more exciting features!<br />
    -Geoff
    </p>
  </div>
</div>
