<!DOCTYPE html>
<html>
  <head>
    <title>Home | My Sample App</title>
  </head>
  <body>
    <h1>Sample App</h1>
    <p>
      This is the home of my sample Rails application.
    </p>
  </body>
</html>
