<% if @feed_items.any? %>
  <ol class="microposts">
    <%= render @feed_items %>
  </ol>

  <div class="homepage-pagination">
    <%= will_paginate(@feed_items,
                      renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer,
                      class: 'text-center') %>
  </div>
<% else %>
  <p class="havent-grunted">You have not Grunted yet! Get started with the form on the left.</p>
  <p class="havent-grunted">And while you're at it, why not follow some other <%= link_to "users", users_url %> to see their Grunts on the homepage too!</p>
<% end %>
