<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h1><%= current_user.name %></h1>
<div class="profile_link_view"><%= link_to "View Profile", current_user %></div>
<span>&nbsp;<%= pluralize(current_user.microposts.count, "Grunt") %></span>
