<div class="gravatar_wrapper">
<%= link_to gravatar_tag(current_user, :html => { :class => "gravatar" }), current_user %>
</div>
<h1><%= link_to current_user.name, current_user %></h1>

<div class="profile_link_view"><%= pluralize(current_user.microposts.count, "Grunt") %></div>
