<div class="gravatar_wrapper"><%= link_to gravatar_for(current_user, size: 150), current_user %></div>
<h1><%= link_to current_user.name, current_user %></h1>

<div class="profile_link_view"><%= pluralize(current_user.microposts.count, "Grunt") %></div>
