@import "bootstrap-sprockets";
@import "bootstrap";

/* -------------- MIXINS/VARIABLES/ETC --------------- */

$theme-color: #14a064;
$theme-color-dark: #108050;
$theme-color-darker: #0c603c;
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* -------------------- UNIVERSAL -------------------- */

body {
  background-color: #e2e2e2;
  padding-top: 110px;
}

a {
  color: $theme-color-dark;
  transition: all .3s;
  &:hover, &:focus, &:active {
    color: $theme-color-darker;
  }
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


/* --------------------- LAYOUT ---------------------- */

.row {
  margin: auto;
}

.content-box {
  background-color: white !important;
  border: 0;
  border-radius: 3px;
  box-shadow: -1px 1px 8px #888;
}

.col-sm-3, .col-sm-6 {
  margin: 0 5px;
  padding: 0 20px 20px;
}

.profile-box {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 70px;
  display: block;
  width: 290px;
  float: left;
  padding: 0 15px 15px 15px;
}

.feed-box {
  margin-left: 310px;
  min-height: 430px;
  padding: 1px 15px 15px 15px;
  max-width: 600px;
}

.col-sm-6 {
  margin-left: 310px;
  min-height: 430px;
}

.col-sm-6 h3 {
  margin-bottom: 16px;
}

.col-md-4 {
  padding: 20px;
}

.col-md-8 {
  padding: 20px 20px 12px 20px;
}


/* ------------------ TYPOGRAPHY -------------------- */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  margin-top: 0px;
  text-align: center;
  sup {
    font-size: .7em;
    margin: 0 5px;
  }
}

h2 {
  color: $gray-light;
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: -.5px;
  margin-bottom: 30px;
  text-align: center;
}

#note {
  color: $gray-light;
  font-size: 1em;
  font-weight: normal;
  letter-spacing: -.5px;
  margin-bottom: 20px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* -------------------- HEADER -------------------- */

.navbar-inverse {
  background-color: #12905a;
  height: 70px;
  padding-top: 10px;
  box-shadow: 0px 4px 8px #555;
  border: none;
  transition: all .3s;
  .navbar-nav > li > a {
      color: #eee;
  }
}

.dropdown {
  height: 60px;
  transition: all .3s;
}

.dropdown-toggle {
  height: 60px;
  margin-top: 0px;
}

#logotext, #alpha-menu {
  color: #fff;
  font-size: 1.5em;
  float: left;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  padding-top: 15px;
}

#logotext {
  padding-top: 9px;
  float: left;
  font-size: 1.7em;
  text-transform: uppercase;
  margin-right: 4px;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

#logo img {
  display: block;
  float: left;
  max-height: 40px;
  margin: 5px;
  transition: all .3s;
}

.menu-nav-scroll {
  height: 20px;
}

/* -------------------- FOOTER -------------------- */

footer {
  background-color: #e2e2e2;
  border-top: 1px solid $gray-light;
  color: $gray-light;
  margin-top: 45px;
  padding: 5px 10%;
  clear: both;
  a {
    color: $gray;
    &:hover, &:focus, &:active {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}


/* ------------------- SIDEBAR ------------------- */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    margin-top: 20px;
    padding: 10px 0;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      line-height: 1;
      margin-bottom: 3px;
    }
    h1 {
      font-size: 1.4em;
      letter-spacing: -1px;
      margin-top: 0px;
      margin-bottom: 3px;
      text-align: left;
    }
  }
  textarea, input[type=text] {
    font-size: 18px;
    padding: 11px;
    height: 50px;
    resize: none;
    background-color: white;
  }
  input {
    background-color: white;
  }
}

.gravatar {
  border: 2px solid black;
  border-radius: 30% 10%;
  float: left;
  margin-right: 10px;
  width: 60px;
}

.gravatar_edit {
  margin-top: 35px;
}

.stats {
  display: block;
  margin: 6px auto 0;
  overflow: auto;
  padding: 0;
  text-align: center;
  a {
    border-left: 1px solid $gray-lighter;
    color: #777;
    float: left;
    padding: 0 8px;
    font-size: 1.1em;
    &:first-child {
      border: 0;
      padding-left: 0;
    }
    &:hover {
      color: $theme-color-dark;
    }
  }
  strong {
    display: block;
  }
}

.stats_wrapper {
  display: block;
  margin: auto;
  width: 152px;
}

.user_avatars {
  margin-top: 40px;
  overflow: auto;
  .gravatar {
    margin: 1px 1px;
    width: 30px;
  }
  a {
    padding: 0;
  }
}

.gravatar_profile .gravatar {
  width: 86px;
  border-width: 3px;
}

.users.follow li {
  padding-bottom: 15px;
  padding-top: 15px;
}

.profile_link_view {
  margin-top: -3px;
  margin-left: 72px;
}

.profile_link_edit {
  margin-top: -3px;
  margin-left: 98px;
}


/* -------------------- FORMS -------------------- */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  width: 100%;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin: -10px 0 15px 0;
  span {
    font-weight: normal;
    margin-left: 20px;
  }
}

.btn-primary {
  color: #fff;
  background-color: $theme-color;
  border-color: #0a5032;
  transition: all .3s;
  &:hover {
    background-color: $theme-color-dark !important;
  }
  &:focus, &:active, .active, .open > .dropdown-toggle.btn-primary  {
    background-color: $theme-color-darker !important;
  }
}

.btn-follow, .btn-unfollow {
  width: 80px;
  margin-top: 15px;
}

.btn-unfollow {
  background-color: #999999;
  border-color: #333;
  opacity: .3;
  t: "Following";
  &:hover {
    background-color: #990000 !important;
    opacity: 1;
  }
  &:focus, &:active {
    background-color: #660000 !important;
    opacity: 1;
  }
}

#session_remember_me {
  margin-left: 0;
  width: auto;
}

/* -------------------- USERS -------------------- */

.users {
  list-style: none;
  margin-left: -20px;
  margin-top: 12px;
  padding-right: 25px;
  //width: 40%;
  li {
    border-bottom: 1px solid $gray-lighter;
    overflow: auto;
    padding: 10px 0;
  }
}


/* ----------------- MICROPOSTS ------------------ */

.microposts {
  list-style: none;
  padding: 0;
  font-size: 1.1em;
  position: relative;
  z-index: 1;
  li {
    border-top: 1px solid #e8e8e8;
    padding: 20px 10px;
    background-color: white;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 68px;
    padding: 8px;
    font-size: 1.1em;
    img {
      display: block;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 68px;
    margin-top: 15px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

.micropost_picture img, .help_picture img  {
  border: 0px solid #555;
  border-radius: 2px;
  box-shadow: -1px 1px 10px #888;
  max-width: 98%;
  margin: 15px 10px 0;
}

span.picture {
  margin-top: 10px;
  margin-bottom: -10px;
  input {
    border: 0;
  }
}


/* ---------------- MISCELLANEOUS ---------------- */

.powered img {
  height: 111px;
  padding: 0 5px;
  opacity: 0.6;
  transition: all .2s;
  &:hover {
    opacity: 1;
    transform: scale(1.1);
  }
}

.jumbotron {
  background-color: #eee;
  padding-top: 20px;
  img {
    height: 100px;
  }
}

.debug_dump {
  clear: both;
  float: left;
  margin-top: 45px;
  width: 100%;
  @include box_sizing;
}

.loginbox {
  padding-bottom: 5px;
}

.alert {
  margin-top: -20px;
}

.signup_alert {
  margin-top: 30px;
  margin-bottom: -30px;
}

.follow_right {
  float: right;
  margin-top: -10px;
}

.edit_profile_link {
  font-size: .8em;
}

.helpbox {
  padding: 0px !important;
}

.pagination > li > a {
  color: $theme-color-dark;
}

.pagination > li.active > a,
.pagination > li.active:hover > a {
  background-color: $theme-color-dark;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    z-index: 3;
    color: #fff;
    background-color: $theme-color;
    border-color: #ddd;
}

.accordion {
    background-color: #fff;
    color: #444;
    border: none;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.1s;
}

.active, .accordion:hover {
    background-color: $theme-color;
    color: white;
    border-bottom: 1px solid $theme-color;
}

.panel {
    padding: 10px 18px 0;
    display: none;
    background-color: white;
}

.user_avatars {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.user_avatars a {
  border-left: 0px solid $gray-lighter;
  float: left;
  padding: 0;
  font-size: 1.1em;
}

.user_avatars .gravatar {
  margin: 5px;
}

.btn-login {
  font-size: 1em;
  transition: all .3s;
  //transition-origin: 50% 50%;
  &:hover {
    background-color: $theme-color-dark !important;
    //transform: scale(1.1);
    //padding: 6px 18px;
    //font-size: 1.2em;
  }
}

.btn-grunt {
  font-size: 1em;
  transition: all .3s;
  transition-origin: 50% 50%;
  &:hover {
    background-color: $theme-color-dark !important;
    //transform: scale(1.1);
    //padding: 0px 18px;
    //font-size: 1.2em;
  }
}

.btn-signup {
  font-size: 1em;
  transition: all .3s;
  transition-origin: 50% 50%;
  &:hover {
    background-color: $theme-color-dark !important;
    transform: scale(1.2);
  }
}




/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ----------------------------- MOBILE ------------------------------ */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */

// @media only screen and (max-width: 768px) {

  @media only screen and (max-width: 1080px) {

  /* ----------------- UNIVERSAL ------------------ */
  body {
    background-color: white;
  }

  .container {
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 10px 0 10px;
  }


  /* ------------------ LAYOUT -------------------- */

  .content-box  {
    background-color: white !important;
    display: block;
    float: left;
    width: 100%;
    //position: static;
    //clear: both;
    margin: 0px;
    padding: 15px;
    box-shadow: none;
  }

  .col-md-4 , .col-md-6, .col-md-8  {
    font-size: 2em;
  }


  /* ---------------- TYPOGRAPHY ------------------ */

  h1 {
    font-size: 65px;
  }

  h2 {
    font-size: 35px;
  }


  /* ----------------- HEADER ------------------ */

  .navbar-inverse {
    opacity: 1 !important;
    margin-bottom: 0;
  }

  .navbar.navbar-inverse .dropdown-menu,
  .navbar.navbar-inverse .dropdown-menu > li {
    background-color: black;
    float: none;
  }
  .navbar.navbar-inverse .dropdown-menu > li  > a {
    color: #fff !important;
  }

  .navbar-nav {
    position: absolute;
    right: 30px;
    li {
      display: block;
      float: left;
    }
    .dropdown {
      height: 60px;

    }
    .dropdown-toggle {
      height: 62px;
      margin-top: 0px;
    }
  }

/* -------------------- HEADER -------------------- */

.navbar-inverse {
  background-color: #12905a;
  height: 40px;
  padding-top: 0px;
  box-shadow: 0px 4px 8px #555;
  border: none;
  transition: all .3s;
  .navbar-nav > li > a {
      color: #eee;
  }
}

.dropdown {
  height: 60px;
  transition: all .3s;
}

.dropdown-toggle {
  height: 60px;
  margin-top: 0px;
}

#logotext, #alpha-menu {
  color: #fff;
  font-size: 1.5em;
  float: left;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  padding-top: 15px;
}

#logotext {
  padding-top: 9px;
  float: left;
  font-size: 0px;
  text-transform: uppercase;
  margin-right: 4px;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

#logo img {
  display: block;
  float: left;
  max-height: 40px;
  margin: 5px;
  transition: all .3s;
}

.menu-nav-scroll {
  height: 20px;
}






  /* ------------------ FOOTER ------------------ */

  footer {
      background-color: white;
  }


  /* ----------------- SIDEBAR ----------------- */

  .profile-box {
    width: 100%;
    z-index: 50;
    margin-top: -20px;
    margin-left: -10px;
    position: fixed;
    box-shadow: 0px 4px 8px #555;
  }

  .feed-box {
    max-width: 100%;
    margin-top: 200px;
  }

  aside {
    section.user_info {
      //margin-top: 20px;
      margin-left: 25px;
      text-align: center;
      float: left;
    }
    section {
      margin-top: 20px;
      padding: 10px 0;
      &:first-child {
        border: 0;
        padding-top: 0;
      }
      span {
        display: block;
        line-height: 1;
        margin-bottom: 3px;
      }
      h1 {
        font-size: 2em;
        letter-spacing: -1px;
        margin-top: 0px;
        margin-bottom: 3px;
        text-align: center;
        display: block;
        clear: both;
      }
      .gravatar, .gravatar_profile .gravatar {
        float: none;
        margin-bottom: 15px;
        width: 100px;
        border-width: 4px;
      }
      .profile_link_view, .profile_link_edit {
        margin: auto;
        display: block;
        text-align: center;
        clear: both;
        font-size: 1em;
        display: none;
      }
    }
    textarea, input[type=text] {
      font-size: 28px;
      padding: 11px;
      height: 65px;
      resize: none;
      width: 60%;
      margin-left: 20%;
      margin-right: 20%;
      margin-top: 20px;
    }
    .btn-primary {
      width: 60%;
      margin-left: 20%;
      margin-right: 20%;
    }
    span.picture {
      margin: 10px 0 -10px 25%;
      font-size: 2em;
      input {
        border: 0;
      }
    }
  }

  .stats {
    display: block;
    margin: 0px auto 0;
    margin-left: 5px;
    overflow: auto;
    padding: 0;
    text-align: center;
    float: left;
    clear: both;
    a {
      border-left: 1px solid $gray-lighter;
      color: #777;
      float: left;
      padding: 0 10px;
      font-size: 1.5em;
      &:first-child {
        border: 0;
        padding-left: 0;
      }
      &:hover {
        color: $theme-color-dark;
      }
    }
    strong {
      display: block;
    }
  }

  .stats_wrapper {
    display: block;
    margin: auto;
    width: 207px;
  }

  .user_avatars {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .user_avatars a {
    border-left: 0px solid $gray-lighter;
    float: left;
    padding: 0;
    font-size: 1.1em;
  }

  .user_avatars .gravatar {
    width: 60px;
    display: block;
    margin: 10px;
    padding: 0px;
  }


  /* ----------------- FORMS ------------------- */

  .form-control {
    font-size: 24px;
  }

  .btn-login {
    font-size: 1.3em;
  }

  .btn-signup {
    font-size: 24px;
  }

  /* ----------------- USERS ------------------ */

  .users {
    list-style: none;
    margin-left: -20px;
    padding-right: 25px;
    //width: 40%;
    li {
      border-bottom: 1px solid $gray-lighter;
      overflow: auto;
      padding: 25px 0;
    }
  }


  /* --------------- MICROPOSTS ---------------- */

  .microposts {
    list-style: none;
    padding: 0;
    font-size: 2em;
    position: relative;
    z-index: 1;
    li {
      border-top: 1px solid #e8e8e8;
      padding: 20px 10px;
      background-color: white;
    }
    .user {
      margin-top: 5em;
      padding-top: 0;
    }
    .content {
      display: block;
      margin-left: 68px;
      padding: 8px;
      font-size: 1.1em;
      img {
        display: block;
        margin-left: 45px;
      }
    }
    .timestamp {
      color: $gray-light;
      display: block;
      margin-left: 105px;
      margin-top: 15px;
    }
    .gravatar {
      float: left;
      margin-right: 15px;
      margin-top: 5px;
      width: 90px;
    }
  }

  .micropost_form .btn-primary {
    color: #fff;
    background-color: $theme-color;
    border-color: #0a5032;
    on: background-color .3s;
    font-size: 2em;
    &:hover {
      background-color: $theme-color-dark !important;
    }
    &:focus, &:active, .active, .open > .dropdown-toggle.btn-primary  {
      background-color: $theme-color-darker !important;
    }
  }


  /* -------------- MISCELLANEOUS -------------- */

  .alert-warning, .alert-success {
    margin-top: 230px;
    margin-bottom: -210px;
    z-index: 100;
  }

  .user_avatars {
    display: none;
  }

  .accordion {
    font-size: 36px;
  }

  .grog img {
    width: 30%;
    height: auto;
    margin: 20px auto;
  }

}
