@import "bootstrap-sprockets";
@import "bootstrap";

/* -------------- MIXINS/VARIABLES/ETC --------------- */

$theme-color: #14a064;
$theme-color-dark: #108050;
$theme-color-darker: #0c603c;
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* -------------------- UNIVERSAL -------------------- */

body {
  background-color: #e2e2e2;
  padding-top: 90px;
}

a {
  color: $theme-color-dark;
  &:hover, &:focus, &:active {
    color: $theme-color-darker;
  }
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.btn-primary {
  color: #fff;
  background-color: $theme-color;
  border-color: #0a5032;
  &:hover {
    background-color: $theme-color-dark !important;
  }
  &:focus, &:active, .active, .open > .dropdown-toggle.btn-primary  {
    background-color: $theme-color-darker !important;
  }
}

.btn-follow, .btn-unfollow {
  width: 100px;
  margin-top: 15px;
}

.btn-unfollow {
  background-color: #999999;
  &:hover {
    background-color: #990000 !important;
  }
  &:focus, &:active {
    background-color: #660000 !important;
  }
}

.row {
  margin: auto;
}

.col-sm-3, .col-sm-6, .col-md-4 {
  background-color: white !important;
  border: 2px solid #888 !important;
  border-radius: 20px;
}

.col-sm-3, .col-sm-6 {
  margin: 0 5px;
  padding: 0 10px 20px;
}

.col-md-4 {
  padding-bottom: 16px;
  padding-top: 10px;
}

.pagination > li > a {
  color: $theme-color-dark;
}

.pagination > li.active > a,
.pagination > li.active:hover > a {
  background-color: $theme-color-dark;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    z-index: 3;
    color: #fff;
    background-color: $theme-color;
    border-color: #ddd;
}


/* ------------------ TYPOGRAPHY -------------------- */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  color: $gray-light;
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: -.5px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* -------------------- HEADER -------------------- */

.navbar-inverse {
  background-color: #12905a;
  .navbar-nav > li > a {
      color: #eee;
  }
}

#logotext {
  color: #fff;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  padding-top: 9px;
  text-transform: uppercase;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

#logo img {
  display: block;
  float: left;
  height: 40px;
  margin: 5px;
}


/* -------------------- FOOTER -------------------- */

footer {
  background-color: #e2e2e2;
  border-top: 1px solid $gray-light;
  color: $gray-light;
  margin-top: 45px;
  padding-top: 5px;
  a {
    color: $gray;
    &:hover, &:focus, &:active {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}


/* ------------------- SIDEBAR ------------------- */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    margin-top: 20px;
    padding: 10px 0;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      line-height: 1;
      margin-bottom: 3px;
    }
    h1 {
      font-size: 1.4em;
      letter-spacing: -1px;
      margin-top: 0px;
      margin-bottom: 3px;
      text-align: left;
    }
  }
}

.gravatar {
  border: 3px solid black;
  border-radius: 30% 10%;
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 35px;
}

.stats {
  margin-top: 0;
  overflow: auto;
  padding: 0;
  a {
    border-left: 1px solid $gray-lighter;
    color: gray;
    float: left;
    padding: 0 10px;
    &:first-child {
      border: 0;
      padding-left: 0;
    }
    &:hover {
      color: $theme-color-dark;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  margin-top: 10px;
  overflow: auto;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}


/* -------------------- FORMS -------------------- */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  width: 100%;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin: -10px 0 15px 0;
  span {
    font-weight: normal;
    margin-left: 20px;
  }
}

#session_remember_me {
  margin-left: 0;
  width: auto;
}

/* -------------------- USERS -------------------- */

.users {
  list-style: none;
  margin: 0 auto;
  //width: 40%;
  li {
    border-bottom: 1px solid $gray-lighter;
    overflow: auto;
    padding: 10px 0;
  }
}


/* ----------------- MICROPOSTS ------------------ */

.microposts {
  list-style: none;
  padding: 0;
  li {
    border-top: 1px solid #e8e8e8;
    padding: 10px 0;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}


/* ---------------- MISCELLANEOUS ---------------- */

.powered img {
  height: 111px;
  padding: 0 5px;
  opacity: 0.6;
  transition: opacity .3s;
  &:hover {
    opacity: 1;
  }
}

.jumbotron {
  background-color: #eee;
  padding-top: 20px;
  img {
    height: 100px;
  }
}

.debug_dump {
  clear: both;
  float: left;
  margin-top: 45px;
  width: 100%;
  @include box_sizing;
}

.loginbox {
  padding-bottom: 0px;
}
